.leftDabba{
    margin: 7px 2px;
    background-color: #121212;
    width: 19vw;
    padding: 4px;
    height: 100vh;
    border-radius: 15px;
}
.rightDabba{
    margin: 7px 2px;
    background-color: #121212;
    width: 30vw;
    padding: 4px;
    height: 100vh;
    border-radius: 15px;
}
.midDabba{
    background-color: #121212;
    position: relative;
    margin: 7px 2px;
    width: 60%; 
    height: 100vh;
    border-radius: 15px;
}
.badaDabba{
    display: flex;
    
    gap: 8px;
}

.chatBTN{
    background-color: #272727; /* DodgerBlue */
    color: #fff;
    border: none;
    margin: 2vw 3vh 1vw;
    height: 8vh; 
    padding: 10px 20px;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #1111119d;
    
}

.chatBTN:hover{
    background-color: #3b3b3b; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border: 1px solid #5c5c5c9d;
    
}